{% extends 'layout.twig' %}

{% block body %}

    {# About #}
    <div class="grid_10 prefix_1 suffix_1">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="grid_12"><div class="space_50"></div></div>

    {# Screenshots #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="screenshots">Screenshots</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1 block-center">
        <img src="http://placehold.it/250x250/95A5A6/FFFFFF.png&text=MSMaker" alt="MSMaker Screenshot"/>
        <img src="http://placehold.it/250x250/95A5A6/FFFFFF.png&text=MSMaker" alt="MSMaker Screenshot"/>
        <img src="http://placehold.it/250x250/95A5A6/FFFFFF.png&text=MSMaker" alt="MSMaker Screenshot"/>
    </div>

    <div class="grid_12"><div class="space_50"></div></div>

    {# Download #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="download">Download</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1 block-center">
        <a class="button green" href="/download/msmaker/latest"><span class="icon-browser"></span>&nbsp;&nbsp;MSMaker v1.0</a>
        <span>&nbsp;&nbsp;</span>
        <a class="button blue" href="/download/datapack/latest"><span class="icon-portfolio"></span>&nbsp;&nbsp;DataPack v1.0</a>
        <p><a class="link-interactive" href="#">Other versions</a></p>
    </div>

    <div class="grid_12"><div class="space_50"></div></div>

    {# Requirements #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="requirements">Requirements</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1">
        <p>Windows 7, Vista or XP with installed <a href="//google.com/?q=.NET Framework 4.0" target="_blank">.NET Framework 4.0</a></p>
    </div>

    <div class="grid_12"><div class="space_50"></div></div>

    {# FAQ #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="faq">FAQ</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1">
        <ul>
            <li>First</li>
            <li>Second</li>
        </ul>
    </div>

    <div class="grid_12"><div class="space_50"></div></div>

    {# Contact Me #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="contact-me">Contact Me</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1">
        <ul>
            <li><span class="icon-envelope contact-icon"></span> <a href="mailto:dev@stmol.me">dev@stmol.me</a></li>
            <li><span class="icon-globe contact-icon"></span> <a href="//stmol.me">stmol.me</a></li>
            <li><span class="icon-chat contact-icon"></span> <a href="//twitter.com/Stmol">@Stmol</a></li>
        </ul>
    </div>

    <div class="grid_12"><div class="space_50"></div></div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="assets/javascript/app.min.js"></script>
{% endblock javascripts %}