{% extends 'layout.twig' %}

{% block body %}

    {# About #}
    <div class="grid_10 prefix_1 suffix_1">
        <p>
            Lineage 2 MultiSell editor.
            {#MSMaker tool that allows you to create and edit XML multisell files for Lineage 2 servers. MSMaker has a#}
            {#special interface for easy selection of existing#}
            {#items and allows you to create sets of productions for a fee of a few ingridients.#}
            {#It use data package to display in-game items as database. The independence of the data and the program#}
            {#allows to keep the current state of Lineage 2 items.#}
            {#Also game data storage system makes it easy to add or change existing#}
            {#items. MSMaker is free and it works with most Java like server.#}
        </p>
    </div>

    <div class="grid_12">
        <div class="space_50"></div>
    </div>

    {# Screenshots #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="screenshots">Screenshots</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1 block-center">
        <a class="fancybox screenshot" rel="screenshots"
           href="https://dl.dropboxusercontent.com/s/nud9vpqarony0ig/MSMaker1.png">
            <img src="https://dl.dropboxusercontent.com/s/nud9vpqarony0ig/MSMaker1.png" alt="MSMaker Screenshot"/>
        </a>
        <a class="fancybox screenshot" rel="screenshots"
           href="https://dl.dropboxusercontent.com/s/ewq8snmlsf88w46/MSMaker2.png">
            <img src="https://dl.dropboxusercontent.com/s/ewq8snmlsf88w46/MSMaker2.png" alt="MSMaker Screenshot"/>
        </a>
        <a class="fancybox screenshot" rel="screenshots"
           href="https://dl.dropboxusercontent.com/s/zvywm8axej2xx2b/MSMaker3.png">
            <img src="https://dl.dropboxusercontent.com/s/zvywm8axej2xx2b/MSMaker3.png" alt="MSMaker Screenshot"/>
        </a>
    </div>

    <div class="grid_12">
        <div class="space_50"></div>
    </div>

    {# Download #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="download">Download</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1 block-center">
        <a class="button green" href="/download/msmaker/latest"><span class="icon-browser"></span>&nbsp;&nbsp;MSMaker
            v1.0</a>
        <span>&nbsp;&nbsp;</span>
        <a class="button blue" href="/download/datapack/latest"><span class="icon-portfolio"></span>&nbsp;&nbsp;DataPack
            v1.0</a>

        <p><a class="link-interactive" href="#">Other versions</a></p>
    </div>

    <div class="grid_12">
        <div class="space_50"></div>
    </div>

    {# Requirements #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="requirements">Requirements</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1">
        <p>Windows 7, Vista or XP with installed <a href="//google.com/?q=.NET Framework 4.0" target="_blank">.NET
                Framework 4.0</a></p>
    </div>

    <div class="grid_12">
        <div class="space_50"></div>
    </div>

    {# FAQ #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="faq">FAQ</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1">
        <ul class="faq">
            <li>
                <strong>1. What is Data Package?</strong><br><br>
                <span>This is a set of JSON files and icons. These files contain information about Lineage 2 items. Read more in
                    <a href="{{ path('documentation') }}">documentation</a>.</span>
            </li>
            <li>
                <strong>2. Can MSMaker work separately without the Data Package?</strong><br><br>
                <span>Yes.</span>
            </li>
            <li>
                <strong>3. How to install Data Package?</strong><br><br>
                <span>Just unzip Data Package into the same directory as MSMaker.</span>
            </li>
        </ul>
    </div>

    <div class="grid_12">
        <div class="space_50"></div>
    </div>

    {# Contact Me #}
    <div class="grid_10 prefix_1 suffix_1">
        <h2 id="contact-me">Contact Me</h2>
    </div>

    <div class="grid_10 prefix_1 suffix_1">
        <span>If you want to help or take part in the development please contact me via e-mail</span>
        <br><br>
        <ul>
            <li><span class="icon-envelope contact-icon"></span> <a href="mailto:dev@stmol.me">dev@stmol.me</a></li>
            <li><span class="icon-globe contact-icon"></span> <a href="//stmol.me">stmol.me</a></li>
            <li><span class="icon-chat contact-icon"></span> <a href="//twitter.com/Stmol">@Stmol</a></li>
        </ul>
    </div>

    <div class="grid_12">
        <div class="space_50"></div>
    </div>

{% endblock body %}

{% block javascripts %}
    {{ parent() }}
    <script src="assets/javascript/app.min.js"></script>
{% endblock javascripts %}