<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MSMaker — Lineage 2 MultiSell Editor</title>
    <meta name="description" content="MultiSell Online Editor">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:700' rel='stylesheet' type='text/css'>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {% block stylesheets %}
        <link rel="stylesheet" href="assets/stylesheets/css/normalize.css">
        <link rel="stylesheet" href="assets/stylesheets/css/main.css">
        <link rel="stylesheet" href="assets/vendor/960-grid-system/code/css/min/960_12_col.css"/>
        <link rel="stylesheet" href="assets/stylesheets/css/icons.css">
        <link rel="stylesheet" href="assets/stylesheets/css/app.min.css">
    {% endblock stylesheets %}

    <script src="assets/vendor/modernizr/modernizr.js"></script>
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="container_12">
    {% block head %}
        <div class="grid_3 prefix_1">
            <h1 id="home"><a href="//msmaker.stmol.me">MSMaker</a></h1>
        </div>

        <div class="grid_7 suffix_1 top-nav">
            <ul class="list-inline">
                <li><a href="{{ path('documentation') }}">Documentation</a></li>
                <li><a href="{{ path('changelog') }}">Changelog</a></li>
                {#<li><a href="{{ path('contact') }}">Contact</a></li>#}
            </ul>
        </div>

        <div class="grid_12">
            <div class="space_50"></div>
        </div>
    {% endblock %}

    {% block body '' %}
</div>

{% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/vendor/jquery/jquery.min.js"><\/script>')</script>
    <script src="assets/javascript/plugin.js"></script>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-18789585-8']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();

    </script>
{% endblock javascripts %}
</body>
</html>
